@import "layout/navbar.css";
@import "layout/footer.css";

/*-- theme color --*/
:root {
    --main-color : rgba(0, 0, 0, 0.9);
    --font-color : #AAA;
    --active-color : rgb(156, 25, 16);
    --icon-active : rgb(111, 16, 10);
}

/*-- body --*/
body {
    background: url("/img/fond.png");
    background-attachment: fixed;
    color: var(--font-color);
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

/*-- séparateur --*/
.border {
    width: 80%;
    margin: 5vh;
    margin-left: 10%;
    border: 2px solid var(--icon-active) !important;
    height: .1px !important;
    padding: 0rem;
}

/*-- element caché --*/
.hidden {
    display: none;
}

/*-- habillage section --*/
section {
    padding: 5vh;
}

/*--- mise en forme ---*/
section h1 {
    padding: 5vh 0;
}

section div {
    padding: 5vh 0;
    letter-spacing: 1px;
    font-size: 18px;
}

section ul, section ol {
    margin-top: 2rem;
}

section ul li, section ol li{
    margin-bottom: 2rem;
}

section ul li:last-child, section ol li:last-child{
    margin-bottom: 0;
}

section u {
    text-decoration: none;
    border-bottom: 3px solid var(--active-color);
}

section b {
    font-size: larger;
}

section mark {
    background-color: var(--active-color);
    font-size: larger;
    letter-spacing: .25vh;
    padding: 2vh;
    display: block;
}

/*--- lien ---*/
h1 a {
    color: var(--active-color);
    font-weight: bold;
}

section div a {
    color: var(--active-color);
    font-weight: bold;
    font-size: 20px;
}

section div small a {
    font-size: 120%;
}

section div a:active,
section div a:focus,
section div a:hover {
    color: var(--font-color);
    text-decoration: none;
}

h1 a:active,
h1 a:focus,
h1 a:hover {
    color: var(--font-color);
    text-decoration: none;
}

/*-- button --*/
.btn {
    margin: 4vh 5vh !important;
    padding: 2vh 4vh;
    font-weight: bold;
    background-color: var(--active-color) !important;
    color: var(--font-color) !important;
    letter-spacing: 2px;
    cursor: pointer;
    border: none;
    border-radius: 5rem !important;    
    text-transform: uppercase;
    font-size: 14px;
}

.btn:active,
.btn:focus,
.btn:hover {
    color: var(--active-color);
    background-color: var(--main-color) !important;
    border: 1px solid var(--active-color);
}

.btn.disabled, .btn:disabled {
    opacity: .65;
    cursor: normal;
}

/*-- tableau --*/
section .tabler ul {
    padding-left: 0;
    border-radius: .5rem;
    list-style: none;
}

section .tabler ul li{
    margin: 0;
}

section .tabler ul li:first-child a {
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

section .tabler ul li:last-child a {
    border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
    border-bottom: none;
}

section .tabler ul li a {
    display: block;
    background-color: rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid var(--active-color);
    color: var(--font-color);
    padding: .75rem;
    letter-spacing: 2px;
}

section .tabler ul li a:active,
section .tabler ul li a:focus,
section .tabler ul li a:hover {
    text-decoration: none;
    color: var(--font-color);
    background-color: var(--icon-active);
}

/*-- pagination --*/
nav.pagi ul {
    margin: 2vh 0;
    display: flex;
    padding-left: 0;
    list-style: none;
    justify-content: center;
}

nav.pagi ul li:first-child a {
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
}

nav.pagi ul li:last-child a {
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

nav.pagi ul li a {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: var(--active-color);
    background-color: var(--main-color);
    border: 1px solid var(--active-color);
    font-weight: bold;
}

nav.pagi ul li a:active,
nav.pagi ul li a:focus,
nav.pagi ul li a:hover {
    text-decoration: none;
    color: var(--font-color);
    background-color: var(--active-color);
}

nav.pagi ul li.select a {
    text-decoration: none;
    color: var(--font-color);
    background-color: var(--active-color);
}

/*-- image --*/
img {
    width: 100%;
    padding: 0vh;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
    object-fit: cover;
    height: 25vh;
}

/*-- formulaire --*/
form label {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: lighter;
    margin-top: 5vh;
}

form input, form textarea, select {
    width: 100%;
    border-radius: .25rem;
    padding: .375rem .75rem;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    color: #495057;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin: 2vh 0;
    overflow: hidden;
}

select {
    padding: .55rem .75rem !important;
}

select option {
    overflow-y: scroll;
}

form textarea {
    overflow-y: scroll !important;
}

form .checkbox {
    padding: 2vh 0;
}

form .checkbox label, form .radiobox label, label.file {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    text-transform: none;
    font-weight: normal;
    margin: 5px;
    padding-top: 2px;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;

    margin: 0px;
    height: 18px;
    width: 18px;
    background: #FFFFFF;
    border: none;
}

input[type="checkbox"]:checked {
    background: var(--active-color);
}

input[type="checkbox"]:checked:before {
    font-family: Arial;
    content: '✔';
    margin: -4px 2px;
    display: block;
    color: #FFFFFF;
    font-size: 18px;
    position: absolute;
}

input[type="radio"] {    
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;

    margin: 0px;
    height: 18px;
    width: 18px;
    background: #FFFFFF;
    border: none;
    border-radius: .5rem;
}

input[type="radio"]:checked {
    background: var(--active-color);
}

input[type="radio"]:checked:before {
    font-family: Arial;
    content: '✔';
    margin: -4px 2px;
    display: block;
    color: #FFFFFF;
    font-size: 18px;
    position: absolute;
}

input[type="file"] {
    display: none;
}

label.file {
    color: var(--font-color);
    background-color: var(--main-color);
    border-radius: .25rem;
    margin: 2vh;
    padding: 1.5vh;
    border: 1px solid var(--active-color);
}

label.file:focus, 
label.file:active, 
label.file:hover {
    background-color: var(--active-color);
    color: var(--font-color);
    cursor: pointer;
    box-shadow: 5px 5px 5px var(--main-color);
}

/*-- mention discord --*/
.didi {
    color : #7289DA;
    font-weight: bold;
    font-family: Whitney, Helvetica;
    font-style: inherit;
    letter-spacing: 2px;
}

a.didi:hover,
a.didi:focus,
a.didi:active {
    color : #7289DA;
    background-color: rgba(114, 137, 218, 0.2);
    text-decoration: none;
}

.ts {
    color : #285987;
    font-weight: bold;
    font-family: Whitney, Helvetica;
    font-style: inherit;
    letter-spacing: 2px;
}

a.ts:hover,
a.ts:focus,
a.ts:active {
    color : white;
    background-color: #285987;
    text-decoration: none;
}

.didi-staff {
    color : rgb(233, 30, 99);
    font-family: Whitney, Helvetica;
    font-style: inherit;
    letter-spacing: 2px;
}

a.didi-staff:hover,
a.didi-staff:focus,
a.didi-staff:active {
    color : rgb(233, 30, 99);
    background-color: rgba(233, 30, 99, 0.1);
    text-decoration: none;
}

.didi-forma {
    color : rgb(230, 126, 34);
    font-family: Whitney, Helvetica;
    font-style: inherit;
    letter-spacing: 2px;
}

a.didi-forma:hover,
a.didi-forma:focus,
a.didi-forma:active {
    color : rgb(230, 126, 34);
    background-color: rgba(230, 126, 34, 0.1);
    text-decoration: none;
}

.didi-membre {
    color : rgb(52, 152, 219);
    font-family: Whitney, Helvetica;
    font-style: inherit;
    letter-spacing: 2px;
}

a.didi-membre:hover,
a.didi-membre:focus,
a.didi-membre:active {
    color : rgb(52, 152, 219);
    background-color: rgba(52, 152, 219, 0.1);
    text-decoration: none;
}

.polygames {
    color : rgb(195, 121, 24);
}

a.facebook:active,
a.facebook:focus,
a.facebook:hover {
    color: #2d88ff !important;
}

a.youtube:active,
a.youtube:focus,
a.youtube:hover {
    color: #ff0000 !important;
}

a.discord:active,
a.discord:focus,
a.discord:hover {
    color: #7289DA !important;
}

a.teamspeak:active,
a.teamspeak:focus,
a.teamspeak:hover {
    color: #285987 !important;
}

/*-- code --*/
.show  code {
    font-family: Whitney, Helvetica;
    color: #dcddde;
    letter-spacing: 0;
    background-color: rgba(54, 57, 63, 1);
    padding: 2vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: block;
    overflow-x: scroll;
}

kbd {
    white-space: nowrap;
}

@media (min-width: 1200px) {
    section {
        padding: 5vh 40vh;
    }

    img {
        width: 100%;
        height: 50vh;
        display: block;
        margin-left: auto;
        margin-right: auto;
        object-fit: cover;
    }

    div.container h1 {
        font-size: 4.5rem;
        letter-spacing: 1.5vh;
    }

    section h1, section h2 {
        letter-spacing: .75vh;
    }

    .mobile {
        display: none;
    }
}