@import "navbar.css";
@import "footer.css";
@import "missions.css";
@import "tutos.css";

/*-- theme color --*/
:root {
    --main-color : rgba(10, 10, 10, 0.5);
    --nav-color : rgba(0, 0, 0, 0.9);
    --font-color : #AAA;
    --active-color : rgb(111, 16, 10);
}

/*-- body --*/
body {
    background: url(../img/fond.jpg);
    background-attachment: fixed;
    color: var(--font-color);
    font-family: Arial, Helvetica, sans-serif;
}

.border {
    width: 80%;
    margin: 5vh;
    margin-left: 10%;
    border: 1px solid var(--font-color) !important;
}

.hidden {
    display: none;
}

section {
    padding: 5vh;
}

section h1 {
    padding: 5vh 0;
}

section div {
    padding: 5vh 0;
    letter-spacing: 1px;
    font-size: 18px;
}

section div a {
    color: var(--active-color);
    font-weight: bold;
}

section div a:active,
section div a:focus,
section div a:hover {
    color: var(--font-color);
    text-decoration: none;
}

section .table {
    width: 100%;
    height: auto;
    padding: 4vh 2vh;
    background-color: red;
}

section .line {
    background-color: var(--nav-color);
    border-radius: 5px;
    padding: 2vh 5vh;
}