/*-- body --*/
body {
    background: url(../img/fond.jpg);
    background-attachment: fixed;
}

/*-- navbar --*/
.navbar {
    margin: 5% 10%;
    margin-bottom: 10%;
    padding: 4px 1%;
    border: none;
    z-index: 1000;
}

.sticky {
    position: sticky;
    transition: 1s;
}

@media (min-width: 992px) {
    .navbar {
        margin: inherit;
        padding: 15px 1rem;
        margin-bottom: 10%;
    }

    .nav-link {
        display: inline;
        padding: 15px 1rem;
    }
    
    .navbar-dark .navbar-nav .active>.nav-link {
        background-color: rgba(111,16,10, 0.6);
        border: none;
    }

    .navbar-dark .navbar-nav .nav-link:hover {
        color: rgb(130,15,11);
    }

    .navbar-nav > .active > a:hover {
        color: #fff !important;
        background-color: rgb(130,15,11) !important;
    }
}

@media (min-width: 1200px) {
    .navbar {
        transition: .50s;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 5%;
        margin-bottom: 10%;
        padding: 4px 1%;
    }

    .top {
        margin: inherit;
        width: 100%;
        padding: 4px 1%;
        position: fixed;
        transition: none;
        top: 0;
    }

    .top .center-block {
        display: none;
    }

    .bg-dark.top {
        background-color: rgba(10, 10, 10, 1) !important;
    }
}

.navbar-nav {
    border-radius: 3px;
}

.center-block {
    display: none;
}
 
@media (min-width: 1200px) {
    .center-block {
        margin-top: 22px;
        margin-left: 40%;
        display: block;
        position: absolute;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.btn-outline-danger {
    color: rgb(130,15,11);
    border-color: rgb(130,15,11);
}

.btn-outline-danger:hover {
    background-color: rgba(111,16,10, 0.6);
    border-color: rgb(130,15,11);
}

nav .dropdown-menu {
    background-color: rgba(10, 10, 10, 0.6) !important;
}

nav .btn-outline-danger:not(:disabled):not(.disabled).active:focus, .btn-outline-danger:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-danger.dropdown-toggle:focus {
    background-color: rgba(111,16,10, 0.6);
    border-color: rgba(111,16,10, 0.6);
}

nav .dropdown-item:hover, .dropdown-item:active, .dropdown-item:focus {
    background-color: rgba(111,16,10, 0.6);
}

.btn-outline-danger:not(:disabled):not(.disabled).active:focus, .btn-outline-danger:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-danger.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(111,16,10, 0.6);
}

.btn-outline-danger:not(:disabled):not(.disabled).active, .btn-outline-danger:not(:disabled):not(.disabled):active, .show>.btn-outline-danger.dropdown-toggle {
    background-color: rgba(111,16,10, 0.6);
}

.close {
    color: #fff;
}

.close:hover {
    color: rgb(111,16,10);
    text-shadow: 0 1px 0 rgb(111, 16, 10);
}

.input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child) {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.modal-content.bg-dark {
    background-color: rgba(10, 10, 10, 0.9) !important;
}

.modal-content {
    border: 1px solid rgb(111,16,10);
}

.modal-header {
    border-bottom: 1px solid rgb(111,16,10);
}

.modal-footer {
    border-top: 1px solid rgb(111,16,10);
}

.show>.btn-danger.dropdown-toggle {
    background-color: rgba(111,16,10, 0.6);
    border-color: rgba(111,16,10, 0.6);
}

.show>.btn-danger {
    background-color: rgba(111,16,10, 0.6);
    border-color: rgba(111,16,10, 0.6);
}

/*-- footer --*/
.footer {
    position: relative !important;
    left: 0 !important;
    bottom: 0 !important;
    width: 100% !important;
    text-align: center !important;
    padding-top: 2%;
}

footer .container {
    padding-bottom: 1px;
}

li {
    list-style-type: none;
}

footer a {
    color: inherit;
}

footer a:hover, footer a:active, footer a:focus {
    color: rgb(130,15,11);
}

footer i {
    padding-right: 2%;
}

/*-- content --*/
.bg-dark {
    background-color: rgba(10, 10, 10, 0.6) !important;
    border-radius: 3px;
}

.container {
    padding: 5%;
}

@media (min-width: 992px) {
    section.container {
        padding: 0;
    }

    footer .container {
        padding-left: 0;
        padding-right: 0;
    }
}

a {
    color: rgb(130,15,11);
    text-decoration: none;
}

a:hover, a:active, a:focus {
    text-decoration: none;
    color: #fff;
}

h1 small {
    font-size: 65%;
}

.disabled {
    color: #6c757d;
    pointer-events: none;
    cursor: default;
}

.fas {
    margin-right: 5px;
}

.page-link {
    color: rgb(130,15,11);
    background-color: rgba(10, 10, 10, 0.6);
    border-color: rgba(10, 10, 10, 0.6);
}

.page-item.disabled .page-link {
    color: #6c757d;
    background-color: rgba(10, 10, 10, 0.6);
    border-color: rgba(10, 10, 10, 0.6);
}

.page-link:hover {
    color: #fff;
    background-color: rgba(130,15,11, 0.6);
    border-color: rgba(130,15,11, 0.6);
}

.card-header {
    background-color: rgba(10, 10, 10, 0.6);
}

.btn-link {
    color: rgb(130,15,11);
    text-decoration: none;
}

.btn-link:hover, .card:hover {
    color: #fff;
    background-color: rgba(130,15,11, 0.6);
    border-color: rgba(130,15,11, 0.6);
    text-decoration: none;
}

.btn-link:active, .btn-link:focus {
    border-color: rgba(130,15,11, 0.6);
    text-decoration: none;
}

.card-body:hover {
    background-color: rgba(10, 10, 10, 0.6);
}

.card-body {
    background-color: rgba(10, 10, 10, 0.6);
    border-color: rgba(130,15,11, 0.6);
}

.card {
    background-color: rgba(10, 10, 10, 0.6);
    border-color: rgba(130,15,11, 0.6);
}

.border-on {
    border: 1px solid rgba(130,15,11, 0.6);
}

.btn-danger {
    color: #fff;
    border-color: rgb(130,15,11);
    background-color: rgb(130,15,11);
}

.btn-danger:hover {
    color: #fff;
    border-color: rgb(130,15,11);
    background-color: rgba(111,16,10, 0.6);
}

.text-danger {
    color: rgb(130,15,11) !important;
}

#milsim.form-control:focus, #antistasi.form-control:focus {
    background-color: rgba(111,16,10, 0.6);
}